body { font-family: Univers, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0; padding: 0; background-color: white; }
h1, h2 { text-align: center; font-weight: normal; font-size: 100% }
a { text-decoration: none; color: #ff4040; }
section { display: inline-block; width: 160px; margin: 2em 1em; padding: 0; }
.roman { font-variant: small-caps; }
footer { margin-top: 4em; text-align: center; font-size: smaller }
