body, html { height: 100%; }
body { margin: 0; padding: 0; font-size: 16px; background-color: black;
  font-family: Univers, "Helvetica Neue", Helvetica, sans-serif;
  color: white; }
p { margin: 0; padding: 8px; }
svg { height: 90%; width: 100%; }
input { border: none; font-size: 16px; padding: 4px;
  font-family: Univers, "Helvetica Neue", Helvetica, sans-serif; }
#what, #who { background-color: #ffd; }
#what { width: 70%; }
#thumbnail { position: absolute; top: 8px; right: 8px; }
img { border: 0; }
a { color: #ff4040; text-decoration: none; }
footer { text-align: center; font-size: 12px; position: absolute; bottom: 8px;
  width: 100%; }
