body { font-family: Univers, "Helvetica Neue", Helvetica, sans-serif;
  width: 940px; margin: 20px auto; }
table { border-collapse: collapse; width: 100% }
th { text-align: left; }
th, td { padding: 4px; }
tbody tr:nth-child(odd) { background-color: #ddd; }
fieldset { width: 370px; border: none; padding: 0; background-color: #ddd;
  padding: 4px; margin: 0; -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
fieldset label { width: 136px; display: inline-block; text-align: right;
  margin-right: 10px; }
fieldset .right { width: 370px; text-align: right; display: inline-block; }
fieldset input[type=text], fieldset input[type=email],
fieldset input[type=password] { width: 220px; padding: 4px; margin: 4px 0;
  border: solid thin black; }
