html { height: 100%; }
body { width: 960px; height: 100%; margin: 0 auto; position: relative;
  background-color: #fcf9f0; }
body, #prompt { font-size: 16px;
  font-family: Univers, "Helvetica Neue", Helvetica, sans-serif; }

a { color: #f80; text-decoration: none; }

.low-key { font-weight: normal; color: #888; }
.selectable { cursor: pointer; }
.center { text-align: center; }

#left { width: 540px; height: 100%; position: absolute; left: 10px;
  overflow: auto; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { margin: 0; padding-bottom: 12px; }

#prompt { /*border: solid thin black; padding: 4px; width: 450px;*/
  border: none; width: 460px;
  margin-top: 10px; background-color: transparent; }
#prompt:focus { border-color: #ff4040; outline: 0; }

#completions { list-style-type: none; margin: 0; padding: 0; color: #888; }
#completions li { cursor: pointer; padding: 5px 5px 5px 15px; }
#completions li.sel { font-style: italic; color: #ff4040;
  background-color: #ff0; }

li.player { font-style: weight; color: #666; }
.intro { font-style: italic; }
.room { font-weight: bold; }
.died { text-align: center; color: red; font-size: 200%; }
.died:before { content: "☠ "; }
.died:after { content: " ☠"; }

#right { width: 300px; position: absolute; right: 10px; }
#map { width: 300px; height: 300px; background-color: #ccc; }
